header {
    display: flex;
    padding: 12px 60px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg);
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    color: var(--white);
}

.logo-img {
    width: 46px;
    height: 46px;
    border-radius: 50%;

}

ul.navigator {
    display: flex;
    gap: 24px;
    font-weight: 600;
}

ul.navigator a  {
    text-decoration: none;
}




.actions {
    display: flex;
    gap: 8px
}

footer {
    padding: 50px 60px;
    background-color: var(--dark-bg);
    color: var(--white);
    margin-top: 40px;
}

.main {
    width: min(1200px,80%);
    margin-inline: auto;

}

.top-picture {
    width: 100%;
    height: 400px;
}

.top-picture img {
    width: 100%;
    height: 100%;
    object-position: 0% 10%;
    object-fit: cover;
}

.search-flight {
    margin-top: -100px;
    background-color: var(--light-bg);
    padding: 40px 60px;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.search-flight .greeting {
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid var(--main-bg);
}

.search-flight .search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
    padding: 20px;
}

.search-flight .search label {
    display: inline-block;
    margin-bottom: 16px;
}

.search-flight .location .input-wrapper {
    display: flex;
    gap: 24px;
    align-items: center;
}


.search-flight .location i {
    color: var(--main-text);
    font-size: 24px;
    height: 20px;
}

.search-flight .time input {
    width: 240px;

}

.suggestion {
    margin-top: 60px;

}

.dest-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dest-item {
    width: 25%;
    padding: 8px;
}

.dest-wrapper {
    position: relative;
}

.dest-item img  {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dest-item .dest-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, var(--dark-bg), transparent);
    color: var(--white);
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    height: 100px;
    padding: 8px;
}

/*select flight*/

.page-nav {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 40px;
}

.select-flight {
    display: flex;
    margin-top: 60px;
    gap: 20px;
}

.flight-list {
    width: 60%;
}

.flight-detail {
    width: 40%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flight-item .brief-info {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-text);
    border-radius: 4px;
    height: 68px;
}

.flight-item {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
}

.flight-item + .flight-item {
    margin-top: 12px;
}

.flight-item .class.chosen {
    border: 2px solid currentColor;
    box-shadow: 0 0 10px 2px currentColor;
}

.flight-item .class {
    width: calc(50% - 100px);
    height: 68px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.flight-item .luxury {
    background-color: var(--gold-bg);
    color: var(--gold-text);
}

.flight-item .classic {
    background-color: var(--main-bg);
    color: var(--dark-text);
}

.flight-item .class::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px 0 4px 0;
}

.flight-item .luxury::before {
    content: 'Luxury';
    color: var(--white);
    background-color: var(--gold-text);
}

.flight-item .classic::before {
    content: 'Classic';
    color: var(--white);
    background-color: var(--dark-bg);
}

/* flight detail*/
.flight-detail .station .path {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 12px 0 24px;
    position: relative;
}

.flight-detail .station .between {
    flex: 1;
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    padding: 2px;
    gap: 2px;
}

.flight-detail .station .between i {
    font-size: 14px;
}

.flight-detail .station .code {
    font-weight: 600;
}

.flight-detail .station .between::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    border-top: 1px dashed #333;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.flight-detail h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.flight-detail .termination h3 {
    margin-top: 12px;
}

.flight-detail .price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flight-detail .price-item {
    display: flex;
    justify-content: space-between;
}

.flight-detail .price-item span {
    font-weight: 600;
}

.flight-detail .price-item.total {
    border-top: 1px solid #ccc;
    padding-top: 8px;
}

.flight-detail .price-item.total span {
    color: red;
}

/* passenger form*/

.passenger-info {
    margin-top: 60px;
    padding: 40px 120px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--light-bg);
}

.personal {
    padding: 20px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.personal>div {
    display: flex;
    justify-content: space-between;
}

.contact {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.personal h3,
.contact h3 {
    margin-top: 16px;
    font-size: 18px;
}

#nationality {
    width: 100%;
}

.passenger-info .type,
.passenger-info .gender {
    width: 40%;
    display: flex;
    gap: 12px;
}

.contact>div {
    display: flex;
    justify-content: space-between;
}

/* payment */
.payment {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
}

.payment .card-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    padding: 20px;
}

.payment .card-img {
    width: 40%;

}

.payment .card-img img {
    width: 100%;
}

.payment .date-cvv {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

