<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOCA Airline</title>
    <!--    style-->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
{% include '/layout/header.html' %}
<div class="top-picture">
    <img src="https://images.unsplash.com/photo-1558285549-2a06f9a5fe65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
         alt="top picture">
</div>
{% block content %}
{% endblock %}
{% include '/layout/footer.html' %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="infoMessage" class="message {{ category }}">
                <i class="fi fi-rr-info"></i> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>