{% extends 'layout/base.html' %}
{% block content %}
<div>
    <section class="main">
        <div class="search-flight">
                <div class="greeting">Xin chào! Địa điểm bạn muốn đến là gì?</div>
                <div class="search">
                    <div class="location">
                        <label for="from-location">Địa điểm</label>
                        <div class="input-wrapper">

                            <div class="dropdown" id="from-location">
                              <div class="dropdown-select">
                                <span class="dropdown-value">From</span>
                                  <i class="fi fi-rs-angle-down"></i>
                              </div>
                              <div class="dropdown-list">
                                <div class="dropdown-item">TP. Hồ Chí Minh</div>
                                <div class="dropdown-item">Hà Nội</div>
                                <div class="dropdown-item">Đà Nẵng</div>
                              </div>
                            </div>

                            <i class="fi fi-ss-plane"></i>

                            <div class="dropdown" id="to-location">
                              <div class="dropdown-select">
                                <span class="dropdown-value">To</span>
                                  <i class="fi fi-rs-angle-down"></i>
                              </div>
                              <div class="dropdown-list">
                                <div class="dropdown-item">TP. Hồ Chí Minh</div>
                                <div class="dropdown-item">Hà Nội</div>
                                <div class="dropdown-item">Đà Nẵng</div>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="time">
                        <label for="date-input">Ngày đi</label>
                        <div>
                            <input type="date" id="date-input">
                        </div>
                    </div>

                    <button class="btn primary">TÌM KIẾM</button>
                </div>
            </div>

        <div class="suggestion">
            <h3>Địa điểm phổ biến</h3>
            <div class="dest-list">
                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_SGN_resize_45ce3292ab.jpg" alt="">
                        <div class="dest-name">TP. Hồ Chí Minh</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_HAN_3_thumb_6acab9748f.jpg" alt="">
                        <div class="dest-name">Hà Nội</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_UI_Hthumb_22a09940d4.jpg" alt="">
                        <div class="dest-name">Quy Nhơn</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_HPH_res_1c80f00781.jpg" alt="">
                        <div class="dest-name">Hải Phòng</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_THD_res_86e100a54f.jpg" alt="">
                        <div class="dest-name">Thanh Hoá</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_HUI_res_442bcf4e99.jpg" alt="">
                        <div class="dest-name">Huế</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_CXR_1_f434952f43.jpg" alt="">
                        <div class="dest-name">Nha Trang</div>
                    </div>
                </div>

                <div class="dest-item">
                    <div class="dest-wrapper">
                        <img src="https://bamboo.useleadr.com/uploads/medium_VII_9e7c8acd5b.jpg" alt="">
                        <div class="dest-name">Vinh</div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}