{% extends 'layout/base.html' %}
{% block content %}
<div>
    <section class="main">

        {% include '/layout/components/flight-search-readonly.html' %}

       <div class="select-flight">
            <ul class="flight-list">
                {% for f in flight_list %}
                <li class="flight-item">
                    <div class="brief-info">
                        <span>05:00 đến 12:00</span>
                        <span>{{f.maybay.name}}</span>
                    </div>
                    {% for c in ticket_classes %}
                    <label
                            for="{{ f.id + c.name}}"
                            class="class-wrapper"
                            onclick="showDetail('{{f.id}}', '{{c.id}}')"
                    >
                        <input type="radio" name="flight" id="{{ f.id + c.name}}">
                        <div class="{{c.name}} class ">
                            {{ c.gia + f.gia }} VND
                        </div>
                    </label>
                    {% endfor %}
                </li>
                {% endfor %}

            </ul>

            <div class="flight-detail">
                <div class="station">
                    <h3>Lộ trình</h3>
                    <div class="path">
                        <div class="from">
                            <div class="code">{{flight_list[0].tuyenbay.sanbaydi.id}}</div>
                            <div class="name">{{flight_list[0].tuyenbay.sanbaydi.name}}</div>
                            <div class="time">05:00 22/12/2023</div>
                        </div>

                        <div class="between">
                            <span>7 giờ</span>
                            <span>
                                <i class="fi fi-ss-plane"></i>
                            </span>
                            <span>2 trạm</span>
                        </div>

                        <div class="to">
                            <div class="code">{{flight_list[0].tuyenbay.sanbayden.id}}</div>
                            <div class="name">{{flight_list[0].tuyenbay.sanbayden.name}}</div>
                            <div class="time">12:00 22/12/2023</div>
                        </div>
                    </div>

<!--                    Danh sách trạm dừng chân nếu có-->

                    <div class="termination">
                        <h3>Danh sách trạm dừng</h3>
                        <ul>
                            <li>1. <span class="code">DNN </span>- Đà Nẵng</li>
                            <li>2. <span class="code">HPN </span>- Hải Phòng</li>
                        </ul>
                    </div>
                </div>
                {% if flight and ticket_class %}
                <div class="benefit">
                    <h3>Quyền lợi</h3>
                    <div>
                        {{ticket_class.quyenloi if ticket_class.quyenloi else ''}}
                    </div>
                    <ul>
                        <li>Hành lý xách tay: 07Kg.</li>
                        <li>Bảo hiểm Sky Care</li>
                    </ul>
                </div>
                <div class="price">
                    <h3>Chi phí</h3>
                    <div class="price-item flight-price">
                        Giá chặng bay: <span>{{flight.gia}} VND</span>
                    </div>
                    <div class="price-item ticket-price">
                        Giá vé: <span>{{ticket_class.gia}} VND</span>
                    </div>
                    <div class="price-item total">
                        Tổng: <span>{{flight.gia + ticket_class.gia}} VND</span>
                    </div>
                </div>
                {% endif%}

            </div>

       </div>
        <div class="flight-map">
            <div class="zone">
                <div class="luxury class">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="classic class">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>

                </div>
            </div>
            <div class="zone">
                <div class="luxury class">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                </div>
                <div class="classic class">
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>
                    <div class="row">
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                        <div class="seat"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="page-nav">
            <a href="/" class="btn secondary">Quay lại</a>
            <button class="btn primary">Tiếp</button>
        </div>


    </section>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}